<link
  rel="stylesheet"
  media="screen"
  href="assets/particale/particles.js-master/demo/css/style.css"
/>
<link rel="stylesheet" href="assets/css/home.css" />

<!-- count particles -->

<!-- particles.js container -->
<div id="particles-js" class="particle">
  <div class="banner-text-center">
    <h1 class="heading-first">{{HomeObj.weare}}</h1>
    <h1 class="heading-sec">{{HomeObj.creativeAgency}}</h1>
    <p class="para-text-banner">
         {{HomeObj.banner}}
      <br />
      <br />
      <button class="btn btn-lg btn-light text-center">Get started</button>
    </p>
  </div>
</div>

<div style="z-index: 1; background-color: white">
  <div class="container-card container-fluid" style="width: 85%;" >
        <div class="row">
      <div class="col-md-3">
       <div class="card-anim">
            <div class="face face1">
                <div class="content">
                    <div class="icon-anim">
                        <i class="i-anime fa-anime " aria-hidden="true">
                          <img src="/assets/images/E-COMMERCE_SOLUTION.png" alt="">
                        </i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank"><b>E-Commerce Solutions</b></a>
                    </h3>
                    <p>We provide extensive E commerce solution along with 24/7 help and support in any regard</p>
                </div>
            </div>
        </div>
       
      </div>
 <div class="col-md-3">
       <div class="card-anim">
            <div class="face face1">
                <div class="content">
                    <div class="icon-anim">
                        <i class="i-anime fa-anime " aria-hidden="true">
                          <img src="/assets/images/DESIGN_SERVICES.png" alt="">
                        </i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank"><b>Design Sevrices</b></a>
                    </h3>
                    <p>We have a dedicated and hardworking team of web designers to help our valued customers in any way they want.</p>
                </div>
            </div>
        </div>
       
      </div>
      <div class="col-md-3">
       <div class="card-anim">
            <div class="face face1">
                <div class="content">
                    <div class="icon-anim">
                        <i class="i-anime fa-anime " aria-hidden="true">
                          <img src="/assets/images/DESIGN_SERVICES.png" alt="">
                        </i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank"><b>Web Application</b></a>
                    </h3>
                    <p>We have a dedicated and hardworking team of web designers to help our valued customers in any way they want.</p>
                </div>
            </div>
        </div>
       
      </div>
  
        <div class="col-md-3">
       <div class="card-anim">
            <div class="face face1">
                <div class="content">
                    <div class="icon-anim">
                        <i class="i-anime fa-anime " aria-hidden="true">
                          <img src="/assets/images/WEB_APPLICATION.png" alt="">
                        </i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank"><b>Design Service</b></a>
                    </h3>
                    <p>Our graphic designing team is an expert in making Creative and User Experience-based Design that gives visual representation to your brand.</p>
                </div>
            </div>
        </div>
       
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-md-6">
        <h1 class="heading">E-Commerce Solutions</h1>
        <p class="paragraph-home">TE-commerce business are rising day by day and businessmen need to come up with new solutions to try to compete in the market. Here at EWD tech, we make sure that our customer’s brand gets its own identity among its users. We promise your E-commerce success by providing help, support, guidance, implementation and also provide custom made E commerce applications.</p>
       </div>
      <div class="col-md-6 text-right">
        <img src="/assets/images/E-Commerce_vector.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <h1 class="heading">Web Applications</h1>
        <p class="paragraph-home">Whether you are looking to establish your business on the web or would like to enhance your existing web presence. At EWD tech we provide fast turnaround time and the best quality service with our experienced designers and developers. We help you in expanding your business in the most suitable way we can because a well-designed website plays an important part in attracting visitors and increasing your traffic.</p>
       </div>
      <div class="col-md-6 text-right">
        <img src="/assets/images/WEB_APPLICATIN_vectors-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <h1 class="heading">DESIGN SERVICES</h1>
        <p class="paragraph-home">At EWD Tech we help our customers to start and run a successful business we can design memorable logos & an amazing presentation of products which is incredibly important and key to success in a new startup. Our staff designers are very creative what we do pitch us your idea and you will not be disappointed about what you get in return.

Read More</p>
       </div>
      <div class="col-md-6 text-right">
        <img src="https://ewdtech.com/images/design_services_vector-8.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <script src="assets/particale/particles.js-master/particles.js"></script>
  <script src="assets/particale/particles.js-master/demo/js/app.js"></script>
  <script src="assets/particale/particles.js-master/demo/js/lib/stats.js"></script>

  <script>
    var count_particles, stats, update;
    stats = new Stats();
    stats.setMode(0);
    stats.domElement.style.position = "absolute";
    stats.domElement.style.left = "0px";
    stats.domElement.style.top = "0px";
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector(".js-count-particles");
    update = function () {
      stats.begin();
      stats.end();
      if (
        window.pJSDom[0].pJS.particles &&
        window.pJSDom[0].pJS.particles.array
      ) {
        count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
      }
      requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
  </script>
</div>
