<style>
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
</style>
<img src="/assets/images/contact_us.png" class="img-fluid" alt=""> 
<div class="container-fluid p-0 mb-5">
  <div class="text-center row mr-0" style="padding-top: 4rem">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3 class="m-0">WHAT WE PROVIDE?</h3>
      <img src="assets/images/bor.png" class="img-fluid" style="width: 8%" />
      <p class="set-line-h mt-4 mb-4">
        Whether it is personal use or business development, you can contact us
        and let us know what you need no matter what you choose you can rely on
        us for stress free experience and security. We promise you will be not
        be disappointed.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row bg-light mr-0" style="padding-top: 4rem">
    <div class="col-md-10 offset-md-1">
      <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center p-5">
            <div class="row">
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/computericon2.png"
                    class="img-fluid p-4"
                    alt=""
                  />
                  <h3>WEB DEVELOPMENT</h3>
                  <p class="p-2">
                    We have a dedicated and bound team of web development
                    experts and service providers.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/computericon.png"
                    class="img-fluid p-4"
                    alt=""
                  />

                  <h3>RESPONSIVE DESIGN</h3>
                  <p class="p-2">
                    We have frontend expert team that specializes in creating
                    responsive design of web applications.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/computericon.png"
                    class="img-fluid p-4"
                    alt=""
                  />

                  <h3>CREATIVE DESIGN</h3>
                  <p class="p-2">
                    Give Visual presentation of your brands with brilliant and
                    creative ideas from our development team.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item text-center p-5">
            <div class="row">
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/c_sopport.png"
                    class="img-fluid p-4"
                    alt=""
                  />
                  <h4>SUPPORT</h4>
                  <p class="p-2">
                    We are providing all type of web and mobile application
                    support.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/ecomerce.png "
                    class="img-fluid p-4"
                    alt=""
                  />

                  <h4>E-COMMERCE</h4>
                  <p class="p-2">
                    E-Commerce solutions includes Store to Complete Business
                    Set-up.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="h-100 border">
                  <img
                    src="assets/images/graphic.png"
                    class="img-fluid p-4"
                    alt=""
                  />

                  <h4>GRAPHIC DESIGN</h4>
                  <p class="p-2">
                    We are an expert in making User Experience-based Designs,
                    for businesses and personal use.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev text-info"
          href="#carouselContent"
          role="button"
          data-slide="prev"
        >
          <span class="fa fa-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next text-info"
          href="#carouselContent"
          role="button"
          data-slide="next"
        >
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row mr-0" style="padding-top: 4rem">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <h3 class="m-0">Get the best solution</h3>
      <img
        src="assets/images/bor.png"
        class="img-fluid"
        style="width: 8%"
        alt=""
      />
      <div class="row">
        <div class="row pt-5">
          <div
            class="col-md-2 text-center d-flex justify-content-center align-items-center"
          >
            <img
              src="assets/images/computericon.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div
            class="col-md-10 d-flex justify-content-center align-items-center"
          >
            <p class="text-left m-0">
              <b>Web design and development</b> At EWD Web Solutions we don’t
              start by designing a website – we start by listening. Our first
              step is considerate you, your customers, and why you stand out
              from the competition.
            </p>
          </div>
        </div>

        <div class="row pt-5">
          <div
            class="col-md-2 text-center d-flex justify-content-center align-items-center"
          >
            <img
              src="assets/images/computericon2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div
            class="col-md-10 d-flex justify-content-center align-items-center"
          >
            <p class="text-left m-0">
              <b>Web application development</b> We believe in teamwork as
              working together works. Every new day the mission of acquiring new
              innovation continues. It focuses not only the latest technology
              but also the most knowledgeable and experienced hands to offer the
              most user-friendly customized solution.
            </p>
          </div>
        </div>
        <div class="row pt-5">
          <div
            class="col-md-2 text-center d-flex justify-content-center align-items-center"
          >
            <img src="assets/images/graphic.png" class="img-fluid" alt="" />
          </div>
          <div
            class="col-md-10 d-flex justify-content-center align-items-center"
          >
            <p class="text-left m-0">
              <b>Graphic design services</b> At EWD Web Solutions we don’t start
              by designing a website – we start by listening. Our first step is
              considerate you, your customers, and why you stand out from the
              competition.
            </p>
          </div>
        </div>
        <div class="row pt-5">
          <div
            class="col-md-2 text-center d-flex justify-content-center align-items-center"
          >
            <img src="assets/images/ecomerce.png" class="img-fluid" alt="" />
          </div>
          <div
            class="col-md-10 d-flex justify-content-center align-items-center"
          >
            <p class="text-left m-0">
              <b>E-commerce</b> We believe in teamwork as working together
              works. Every new day the mission of acquiring new innovation
              continues. It focuses not only the latest technology but also the
              most knowledgeable and experienced hands to offer the most
              user-friendly customized solution.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
